version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    container_name: BookLib_API
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  db:
    image: postgres:16
    container_name: BookLib_DB
    environment:
      - POSTGRES_USER=booklibuser
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=bookdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U bookuser -d bookdb"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: